@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
	--radius: 0.625rem;
	--background: oklch(96.8% 0.007 247.896); /* slate-100 */
	--foreground: oklch(12.9% 0.042 264.695); /* slate-950 */
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.129 0.042 264.695);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.129 0.042 264.695);
	--primary: oklch(0.208 0.042 265.755);
	--primary-foreground: oklch(0.984 0.003 247.858);
	--secondary: oklch(0.968 0.007 247.896);
	--secondary-foreground: oklch(0.208 0.042 265.755);
	--muted: oklch(0.968 0.007 247.896);
	--muted-foreground: oklch(0.554 0.046 257.417);
	--accent: oklch(0.968 0.007 247.896);
	--accent-foreground: oklch(0.208 0.042 265.755);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.929 0.013 255.508);
	--input: oklch(0.929 0.013 255.508);
	--ring: oklch(0.704 0.04 256.788);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.984 0.003 247.858);
	--sidebar-foreground: oklch(0.129 0.042 264.695);
	--sidebar-primary: oklch(0.208 0.042 265.755);
	--sidebar-primary-foreground: oklch(0.984 0.003 247.858);
	--sidebar-accent: oklch(0.968 0.007 247.896);
	--sidebar-accent-foreground: oklch(0.208 0.042 265.755);
	--sidebar-border: oklch(0.929 0.013 255.508);
	--sidebar-ring: oklch(0.704 0.04 256.788);

	/* ReactFlow variable overrides */
	--xy-node-boxshadow-selected-default: none !important;
	--xy-node-boxshadow-hover-default: none !important;
	--xy-node-border-default: none !important;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}

/* —————————————— SITE STYLES —————————————— */

@layer base {
	* {
		@apply border-border outline-none ring-0;
	}
	body {
		@apply bg-background text-foreground text-base;
	}
}

/* —————————————— CUSTOM TAILWIND —————————————— */

@layer components {
	.debug {
		@apply border border-red-500;
	}

	.horizontal {
		@apply flex flex-row;
	}

	.vertical {
		@apply flex flex-col;
	}

	.horizontal.center-v {
		@apply items-center;
	}

	.horizontal.center-h {
		@apply justify-center;
	}

	.horizontal.center {
		@apply justify-center items-center;
	}

	.vertical.center-v {
		@apply justify-center;
	}

	.vertical.center-h {
		@apply items-center;
	}

	.vertical.center {
		@apply justify-center items-center;
	}

	.space-between {
		@apply justify-between;
	}
}

/* —————————————— REACTFLOW OVERRIDES —————————————— */

/* group nodes */
.react-flow__node-group {
	box-shadow: none !important;
	outline: none !important;
	padding: 10px 15px !important;
	border-radius: 8px !important;
	border: 1px solid #cad5e2 !important;
	min-width: 150px;
	text-align: center;
	background-clip: padding-box;
}

/* selected group nodes */
.react-flow__node-group.selected {
	box-shadow: none !important;
	outline: none !important;
	/* border: 1.5px solid #94a3b8 !important; */
}

/* custom node class to override ReactFlow styles */
.react-flow__node-custom {
	box-shadow: none !important;
	outline: none !important;
}

/* target all group outlines, shadows and borders */
.react-flow__node {
	box-shadow: none !important;
	outline: none !important;
}

/* override any selectable state */
.react-flow__node.selectable,
.react-flow__node.selectable.selected,
.react-flow__node.selectable:focus,
.react-flow__node.selectable:focus-visible {
	box-shadow: none !important;
	outline: none !important;
}

/* hide handles on group nodes */
.react-flow__node-group .react-flow__handle {
	display: none !important;
}
